<% include partials/navbar.ejs %>
<% include partials/jumbotron.ejs %>
<div class = "containter">
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
</div>
<% include partials/footer.ejs %>